.bug_item
  .bug_content
    .bug_type.column_l_2_10.material-icons bug_report
    .bug_fields.column_l_7_10
      if editing
        .field
          input(class='summary',type='text',placeholder='Summary',value='#{summary}')
        .field
          textarea(class='description',placeholder='Description') #{description}
      else
        .field
          h4.summary #{summary}
        .field
          .description #{description}
    .bug_controls.column_l_1_10
      .bug_remove.material-icons remove_circle
      if editing
        .bug_mode.js_bug_save.material-icons save
      else
        .bug_mode.js_bug_edit.material-icons edit
  if error
    .bug_error_content
      span.bug_error.material-icons cancel
      span #{error}
